/* здесь используйте глобальные переменные */
// Цвет текста
$text-color-basic: #283645;
$text-color-contrast: #ffffff;
$text-color-dark: #000000;
$text-color-accent: #d22856;

// Цвет фона
$bg-color-navigation: rgba(0, 0, 0, 0.3);
$bg-color-dark-basic: #283645;
$bg-color-dark-special: #1d2631;
$bg-color-accent: #d22856;
$bg-color-accent-2:#2aab6d;
$bg-color-contrast: #ffffff;

//Цвет обводки
$border-color-light: #ffffff;
$border-color-accent: #d22856;
$border-dark-basic: #283645;
$border-color-form: #e5e5e5;

//Брейкпойнты
$mobile-only: 659px;
$tablet-width: 660px;
$desktop-width: 1200px;
