.effect::before {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    width: 238px;
    height: 276px;
    background-image: url("../../icons/stack.svg#effect");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
  }
}

.effect__title {
  @include text-parameters(30px, 700, 36px, $text-color-dark);

  @media (min-width: $desktop-width) {
    line-height: 30px;
  }
}

.effect__link {
  color: $text-color-accent;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
