.effect__title {
  @include text-parameters(30px, 700, 36px, $text-color-dark);

  @media (min-width: $desktop-width) {
    line-height: 30px;
  }
}

.effect__link {
  color: $text-color-accent;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
