.field-group__title {
  color: $text-color-accent;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
