.main-navigation__link {
  @include text-parameters(18px, 700, 32px, $text-color-contrast);
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation__toggle {
  width: 50px;
  height: 4px;
  background-color: $bg-color-contrast;
  border: none;
  border-radius: 5px;
  box-shadow:
    0 10px 0 0 $bg-color-contrast,
    0 -10px 0 0 $bg-color-contrast;
}
