.reviews__author-name {
  @include text-parameters(18px, 700, 30px, $text-color-dark);
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-info {
  line-height: 30px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
